.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-top: -80px;
    width: 595px;
    height: 790px;
  }

  .modalContainer{
    width: 100%;
    height: 100%;
  }

  .modalHeadingContainer{
    width: 106%;
    margin-left: -3%;
    margin-top: -5px;
    height: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .modalHeading{
    margin-left: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-top: -27px;
  }

  .modalFilterContainer{
    width: 100%;
    height: 146px;
    overflow: hidden;
  }

  .modalFilterSelectedContainer{
    width: 100%;
    height: 73px;
    overflow: hidden;
  }


  .closeButton {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    margin-left: 560px;
    right: 300px;
    margin-top: 0px;
  }
  .selectedInterest{
    width: fit-content;
    display: inline-block;
    block-size: fit-content;
    height: 30px;
    margin: 0.7%;
    padding-left: 15px;
    padding-right: 15px;
    background: #769983;
    border-radius: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  .searchedTag {
    width: fit-content;
    display: inline-block;
    block-size: fit-content;
    height: 30px;
    margin: 0.7%;
    padding-left: 15px;
    padding-right: 15px;
    background: #c5c5c5;
    border-radius: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  
  .content {
    margin-top: 16px;
  }
